* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

.container {
}
.form-container {
}
.form {
}
.form-input {
}
.list-container {
}
.todos {
}
.todos-list {
}
.todo {
}
.check-btn {
}
.fas {
}
.fa-check {
}
.trash-btn {
}
.fa-trash {
}