@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cuption {
    position: absolute;
    top: 30px;
    left: 40%;
    color: #fff;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    height: 100vh;
    align-items: center;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-input {
    width: 350px;
    padding: 8px 4px;
    font-size: 1.2rem;
}

.add-btn {
    font-size: 1.2rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    color: #fff;
    transition: all 0.3s;
}

.add-btn:hover {
    background-color: rgb(31, 129, 221);
    border-color: rgb(31, 129, 221);
}

.list-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.todos {
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    overflow-y: scroll;
    width: 400px;
}

.todo {
    display: flex;
    color: #222;
    background-color: #fff;
    padding: 0.2rem 1.2rem;
    align-items: center;
    transition: all  0.3s;
    transform-origin: left center;
}

.todo:not(:last-child) {
    margin-bottom: 20px;
}

.todo-text {
    margin-right: auto;
    width: 227px;
    display:  inline-flex;
}

.check-btn, .trash-btn {
    border: 0;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
}

.check-btn {
    background-color: green;
    margin-right: 10px;
}

.fas {
    pointer-events: none;
}
.trash-btn {
    background-color: tomato;
}

.done {
    opacity: 0.5;
    text-decoration: line-through;
}

.hidden {
    opacity: 0; 
    transform: rotate(45deg);
}


/* MODAL */
.opacity {
    opacity: 0.5;
}

.modal-container {
    display: flex;
    align-items: center;
}

.modal {
    max-width: 400px;
    width: 100%;
    height: 40vh;
    padding: 30px;
    border: 2px solid #f4f4f4;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
}

.modal-text {
    font-size: 30px;
    font-weight: 600;
    color: #f4f4f4;
    text-align: center;
}

.modal-x {
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    color: #f4f4f4;
    align-self: flex-start;
    padding: 5px;
    background-color: tomato;
    cursor: pointer;
}



@media (max-width: 860px) {
    html {
        overflow: hidden;
    }

    .cuption {
        position: static;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 40px;
    }

    .container {
        flex-direction: column;
        height: 100vh;
    }

    .form-container {
        height: 30vh;
    }

    .list-container {
        height: 60vh;
    }
}